.app {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: #F7F7F2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  margin-bottom: .2rem;
}

.images {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 150px;
  cursor: pointer;
}

.beetle {
  width: 24%;
  margin: auto;
  position: absolute;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  top: 10%;
  left: 38.2%;
  z-index: 2;
}

.app-logo {
  position: absolute;
  top: 7%;
  left: 25%;
  image-rendering: auto;
  background: black;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
  width: 50%;
  border-radius: 150px;
  margin-bottom: 5px;
  z-index: 1;
}

.beetle.animated {
  animation: app-logo-spin infinite 4s linear;
}

.app-logo.animated {
  animation: app-logo-spin infinite 4s linear;
}

.card {
  position: absolute;
  z-index: 10;
  color: #262730;
  background-color: #F7F7F2;
  padding: 2rem;
  border-radius: 2rem;
  -webkit-box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.56);
  -moz-box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.56);
  box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.56);
}

.main {
  transition: top 0.2s ease-in-out;
  top: 50px;
}

.main.expanded {
  top: 25px;
}

.main.closed {
  top: -280px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes beetle-dance {
  0% {
    top: 0;
  }
  10% {
    top: -10px;
  }
  20% {
    top: 0;
  }
  100% {
    top: 0;
  }
}

.schedule {
  text-align: center;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.schedule.expanded {
  max-height: 220px;
}

.schedule li {
  color: #262322;
}

.schedule ui b {
  color: #EA526F;
  justify-content: center;
}

.none {
  display: none;
}

a {
  margin-top: .2rem;
  margin-bottom: .5rem;
  display: block;
  page-break-after: always; /* CSS 2.1 syntax */
  break-after: always;
}

.showSchedule {
  margin-top: 25px;
  cursor: pointer;
}

.volume {
  margin-top: 20px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.volume.expanded {
  max-height: 22px;
}

.breakline { 
  margin-top: 15px;
}

.atention {
  font-weight: bold;
  font-size: 15px;
}

.brand-icon {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.stream-title { 
  margin: 15px 0px;
}