.app {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: #F7F7F2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  margin-bottom: .2rem;
}

.beetle {
  width: 125px;
  height: 125px;
  margin: auto;
  position: relative;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  background: url('../../assets/beetle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.app-logo {
  image-rendering: auto;
  background: black;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
  height: 50px;
  border-radius: 150px;
  margin-bottom: 5px;
}

.app-logo.animated {
  animation: app-logo-spin infinite 4s linear;
}

.main {
  z-index: 10;
  color: #262730;
  position: absolute;
  background-color: #F7F7F2;
  padding: 2rem;
  border-radius: 2rem;
  transition: top 0.2s ease-in-out;
  top: 125px;
  -webkit-box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.56);
  -moz-box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.56);
  box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.56);
}

.main.schedule {
  top: 25px;
}

.main.closed {
  top: -350px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes beetle-dance {
  0% {
    top: 0;
  }
  10% {
    top: -10px;
  }
  20% {
    top: 0;
  }
  100% {
    top: 0;
  }
}

.schedule {
  text-align: center;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.schedule.expanded {
  max-height: 220px;
}

.schedule li {
  color: #262322;
}

.schedule ui b {
  color: #EA526F;
  justify-content: center;
}

a {
  margin-top: .2rem;
  margin-bottom: .5rem;
  display: block;
  page-break-after: always; /* CSS 2.1 syntax */
  break-after: always;
}

.showSchedule {
  margin-top: 25px;
  cursor: pointer;
}

.volume {
  margin-top: 20px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.volume.expanded {
  max-height: 22px;
}