html, body, #root, .app {
  height: 100%;
  Width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  z-index: 10;
}

.dark {
  color: #262322;
}

.green {
  color: #1F6D20;
}

.pink {
  color: #EA526F;
}

.white {
  color: #F7F7F2;
}

.blue {
  color: #231651;
}